In [1]:
import pandas as pd
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [2]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15'],
      dtype='object')

In [4]:
1+1

2

In [6]:
df = pd.read_csv('olympics.csv',index_col = 0, skiprows = 0)
print(df.head())

                          1     2     3     4      5         6     7     8  \
0
NaN                № Summer  01 !  02 !  03 !  Total  № Winter  01 !  02 !
Afghanistan (AFG)        13     0     0     2      2         0     0     0
Algeria (ALG)            12     5     2     8     15         3     0     0
Argentina (ARG)          23    18    24    28     70        18     0     0
Armenia (ARM)             5     1     2     9     12         6     0     0

                      9     10       11    12    13    14              15
0
NaN                03 !  Total  № Games  01 !  02 !  03 !  Combined total
Afghanistan (AFG)     0      0       13     0     0     2               2
Algeria (ALG)         0      0       15     5     2     8              15
Argentina (ARG)       0      0       41    18    24    28              70
Armenia (ARM)         0      0       11     1     2     9              12

In [7]:
df = pd.read_csv('log.csv')
print(df.head())

         time    user       video  playback position paused  volume
0  1469974424  cheryl  intro.html                  5  False    10.0
1  1469974454  cheryl  intro.html                  6    NaN     NaN
2  1469974544  cheryl  intro.html                  9    NaN     NaN
3  1469974574  cheryl  intro.html                 10    NaN     NaN
4  1469977514     bob  intro.html                  1    NaN     NaN

In [10]:
df = df.fillna({'paused':0,'volumn':10.0})
print(df)

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6      0     NaN
2   1469974544  cheryl     intro.html                  9      0     NaN
3   1469974574  cheryl     intro.html                 10      0     NaN
4   1469977514     bob     intro.html                  1      0     NaN
5   1469977544     bob     intro.html                  1      0     NaN
6   1469977574     bob     intro.html                  1      0     NaN
7   1469977604     bob     intro.html                  1      0     NaN
8   1469974604  cheryl     intro.html                 11      0     NaN
9   1469974694  cheryl     intro.html                 14      0     NaN
10  1469974724  cheryl     intro.html                 15      0     NaN
11  1469974454     sue  advanced.html                 24      0     NaN
12  1469974524     sue  advanced.html                 25      0     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26      0     NaN
15  1469974624     sue  advanced.html                 27      0     NaN
16  1469974654     sue  advanced.html                 28      0     5.0
17  1469974724     sue  advanced.html                 29      0     NaN
18  1469974484  cheryl     intro.html                  7      0     NaN
19  1469974514  cheryl     intro.html                  8      0     NaN
20  1469974754     sue  advanced.html                 30      0     NaN
21  1469974824     sue  advanced.html                 31      0     NaN
22  1469974854     sue  advanced.html                 32      0     NaN
23  1469974924     sue  advanced.html                 33      0     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1      0     NaN
26  1469977484     bob     intro.html                  1      0     NaN
27  1469977634     bob     intro.html                  1      0     NaN
28  1469977664     bob     intro.html                  1      0     NaN
29  1469974634  cheryl     intro.html                 12      0     NaN
30  1469974664  cheryl     intro.html                 13      0     NaN
31  1469977694     bob     intro.html                  1      0     NaN
32  1469977724     bob     intro.html                  1      0     NaN