In [ ]:
import pandas as pd

df = pd.read_csv('olympics.csv',index_col = 0, skiprows = 1)

In [15]:
import pandas as pd
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [28]:
import pandas as pd

df = pd.read_csv('olympics.csv',index_col = 0, skiprows = 1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

"""df.index will gives us a list of indexes, df.index.str will makes the list into an 
entire string,then use split to split it into a list of words"""

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [27]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
# here we first construct a dictionary to store the key value pairs of Afganistan
    dict = {}
# loop through the columns of df to construct the dictionary
    for item in df.columns:
        dict[item] = (df.loc['Afghanistan'])[item]
# finally use the dictionary to get the series
    return pd.Series(dict)
# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
print(answer_zero())

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
dtype: object

Question 0 (Example)
What is the first country in df?
This function should return a Series

In [ ]:
# we could also use the method introduced in the example
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

Question 1
Which country has won the most gold medals in summer games?
This function should return a single string value.

In [49]:
def answer_one():
    answer =' '
    max = df['Gold'].max()
    for country in df.index:
        if df.loc[country]['Gold'] == max:
            answer = country 
    return answer
answer_one()

'United States'

In [60]:
####### could also use numpy.where to find a specific match, return the [0] of the match was the number index
import numpy as np
def answer_one_one():
    max = df['Gold'].max()
    country = np.where(df['Gold'] == max)[0]
    return df.iloc[country].index# acutally this is a array,we take the first element, will be the string
answer_one_one()[0]

'United States'

Question 2
Which country had the biggest difference between their summer and winter gold medal counts?
This function should return a single string value

In [69]:
import numpy as np
def answer_two():
# create a new column as the difference(absolute) between summer golds and winter golds
# then the following steps would be the same as Q1
    df['difference'] = np.abs(df['Gold'] - df['Gold.1'])
    max = df['difference'].max()
    country = np.where(df['difference'] == max)[0]
    return df.iloc[country].index
answer_two()[0]

'United States'

Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

 
Only include countries that have won at least 1 gold in both summer and winter.
This function should return a single string value.

In [72]:
import numpy as np
def answer_three():
# make a copy of the original dataframe
    df_new = df.copy()
# first using boolean mask to construct the new dataframe
    df_new = df_new[(df_new['Gold.1'] > 0) & (df_new['Gold.2'] > 0)]
    df_new['ratio'] = (df_new['Gold'] - df_new['Gold.1'])/df_new['Gold.2']
    max = df_new['ratio'].max()
    country = np.where(df_new['ratio'] == max)[0]
    return df.iloc[country].index
answer_three()[0]

'Australasia'

Question 4

Write a function that creates a Series called "Points" which is a weighted value where each gold medal (Gold.2) counts for 3 points, silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.
This function should return a Series named Points of length 146

In [73]:
def answer_four():
# use a dictionary to store the total points of a country
    dict = {}
# loop through the index of this dataframe to assign values to the labels
    for country in df.index:
        dict[country] = df.loc[country]['Gold.2'] * 3 + df.loc[country]['Silver.2'] * 2 + df.loc[country]['Bronze.2']
    Points = pd.Series(dict)
    return Points
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Length: 146, dtype: int64

Part 2


For the next set of questions, we will be using census data from the United States Census Bureau. Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. See this document for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.


Question 5

Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

This function should return a single string value.

In [94]:
df = pd.read_csv('census.csv')
def answer_five():
    dict = {}
    df_new = df[df['SUMLEV'] == 50]
    df_new = df_new.set_index(df_new['STNAME'])
    for state in df_new.index:
        dict[state] = df_new.loc[state]['COUNTY'].sum()
    answer =" "
    number = 0
    for key,value in dict.items():
        if value > number:
            answer = key
    return answer
answer_five()

'Wyoming'

Question 6

Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.

This function should return a list of string values.

In [1]:
import pandas as pd
df = pd.read_csv('census.csv')
# df = pd.read_csv('census.csv')
# dict = {}
# df_sort = df.sort_values(by = 'CENSUS2010POP')
# print(df_sort['CENSUS2010POP'][100])
def answer_six():
    dict = {}
    df_new = df.set_index('STNAME')
    for state in df_new.index:
        df_state = df_new.loc[state]
        df_sort = df_state.sort_values(by='CENSUS2010POP',ascending = 0)
        dict[state] = df_sort['CENSUS2010POP'].loc['0'] + df_sort['CENSUS2010POP'].loc['1'] + df_sort['CENSUS2010POP'].loc['2']
    return dict
answer_six()

KeyError: 'the label [0] is not in the [index]'

Question 7

Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)
e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

This function should return a single string value.

In [2]:
import numpy as np
def difference(list):
    n = len(list)
    diff = 0
    i = 0
    while i < n-1  :
        j = i+1
        while j <= n-1:
            if np.abs(list[i]-list[j])>diff:
                diff = np.abs(list[i]-list[j])
            j = j + 1
        i = i + 1
    return diff
df_new = df.set_index('COUNTY')
def answer_seven():
    for county in df_new.index:
        df_new.loc[county]['difference'] = difference([(df_new.loc[county]['POPESTIMATE2010']),
                                                       (df_new.loc[county]['POPESTIMATE2011']),
                                                       (df_new.loc[county]['POPESTIMATE2012']),
                                                       (df_new.loc[county]['POPESTIMATE2013']),
                                                       (df_new.loc[county]['POPESTIMATE2014']),
                                                       (df_new.loc[county]['POPESTIMATE2015'])])
    max = df_new['difference'].max()
    county = np.where(df_new['difference'] == max)[0]
    return df_new.iloc[country].index
answer_seven()[0]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Question 8

In this datafile, the United States is broken up into four regions using the "REGION" column.

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).

In [1]:
import pandas as pd
df = pd.read_csv('census.csv')
def answer_eight():
    df = pd.read_csv('census.csv')
    df = df.set_index('CTYNAME')
    df_new = df[df['POPESTIMATE2015'] > df['POPESTIMATE2014']]
    df_new_one = df_new[(df_new['REGION'] == 1) | (df_new['REGION'] == 2)]
    list = []
    for name in df_new_one.index:
        if name.startswith('Washington'):
            list.append(name)
    STNAME = {}
    CTYNAME = {}
    for item in list:
        STNAME['STNAME'] = df_new_one.loc[name]['STNAME']
        CTYNAME['CTYNAME'] = item
    Series1 = pd.Series(STNAME)
    Series2 = pd.Series(CTYNAME)
    df_result = pd.DataFrame([Series1,Series2])
    return df_result                            
answer_eight()
#answer_eight()
# df =df.set_index('CTYNAME')
# df_new = df[df['POPESTIMATE2015'] > df['POPESTIMATE2014']]
# print(df_new.head())

      STNAME            CTYNAME
0  Wisconsin                NaN
1        NaN  Washington County